<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  <p>Blogsite for <a href="https://getbootstrap.com/">Relationship Gists</a> by <a href="https://twitter.com/mdo">@Bright Uzoma Ezeoha </a>.</p>
  <p class="mb-0"> <p>Copyright © <%= new Date().getFullYear()%></p>
    <a href="#">Back to top</a>
  </p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="./index.js" charset="UTF-8"></script>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>