<%- include("partials/header.ejs")%>
<main class="container">
<div class="row g-5">
    <div class="col-md-8">
        <% if (locals.postedBlog){%>
            <%if (postedBlog=="common_mistakes")  {%>
              <%- include("common_mistakes.ejs")%>
            <%} else{%>
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                  Firehoseee
                </h3>
            <%}%>
        <%}%>
      </div>
  </div>
</main>
<%- include("partials/footer.ejs")%>
